NODE_ENV='development'
PORT=3000
ORIGIN="http://localhost:5173"
GITHUB_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
MONGODB_URI="mongodb://githubwiki:asdfasdf@127.0.0.1:27017/githubwiki?authSource=admin&retryWrites=true&w=majority&serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&socketTimeoutMS=45000"
INNGEST_DEV=1
MEM0_API_KEY=""
OPENAI_API_KEY=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app

QDRANT_URL="http://localhost:6333"
QDRANT_API_KEY="asdfasdfasdf"

REDIS_URL='redis://127.0.0.1:6379'